
:root{
    --amarelo-principal: #f49d0c;
    --amarelo-secundario: #d87607;
    --laranja-claro: #bc560a;
    --laranja-mediano: #d87607;
    --laranja: #923f0e;
    --amarelo-claro: #fffbeb;
    --amarelo: #fde58a;
    --cinza-conversas: rgb(32, 32, 32);
    --cinza-fundo: rgb(27, 27, 27);
}

/* Estilização de Scrollbar */
::-webkit-scrollbar-track{
    background: var(--cinza-conversas);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(60deg, var(--amarelo-secundario), var(--laranja));
    border-radius: 30px;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(--laranja);
}

/* Fundos */
.bg-cinza-fundo{
    background-color: var(--cinza-fundo);
}

.bg-cinza-conversas{
    background-color: var(--cinza-conversas);
}

.bg-amarelo-principal{
    background-color: var(--amarelo-principal);
}

.bg-amarelo-secundario{
    background-color: var(--amarelo-secundario)
}

.bg-gradiente-amarelo-secundario-laranja {
    background: linear-gradient(60deg, var(--amarelo-secundario), var(--laranja));
}

.bg-gradiente-amarelo-principal-laranja-mediano {
    background: linear-gradient(60deg, var(--amarelo-principal), var(--laranja-mediano));
}

.bg-gradiente-amarelo-principal-secundario {
    background: linear-gradient(60deg, var(--amarelo-principal), var(--amarelo-secundario));
}

/* cores de fonte */
.text-laranja-mediano{
    color: var(--laranja-mediano);
}

.text-laranja{
    color: var(--laranja);
}

.text-laranja-claro{
    color: var(--laranja-claro);
}

.text-amarelo{
    color: var(--amarelo);
}

.text-amarelo-claro{
    color: var(--amarelo-claro);
}

.text-cinza-fundo{
    color: var(--cinza-fundo);
}

.text-cinza-conversas{
    color: var(--cinza-conversas);
}

/* bordas */
.border-amarelo-principal{
    border: solid var(--amarelo-principal) 1px;
}

body{
    caret-color: var(--amarelo-principal);
}

::selection{
    background-color: var(--laranja);
}

/* elementos */
.logo-site{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 0px 10px 0px 10px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.mensagens-conversa{
    position: absolute;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: var(--amarelo-claro);
    height: 80%;
    width: 95%;
    
    #chatLog{        
        overflow-y: scroll;
        height: 90%;

        div{
            background: linear-gradient(60deg, var(--amarelo-secundario), var(--laranja));
            margin-top: 6px;
            margin-bottom: 6px;
            display: block;
            max-width: 300px;
            max-height: 300px;
            border-radius: 10px;
            padding: 5px 10px 5px 10px;
            word-break: normal;
        }
    }
}

.input-mensagem {
    padding: 2px;
    input {
        outline: none;
        border: none;
        border-radius: 3px;
        width: 100%;
        height: 100%;
    }
}

.btn-enviar{
    border: none;
    outline: none;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 6px;
    margin: 0px 0px 0px 10px;
    transition-duration: 250ms;

    img{
        object-fit: contain;
    }
}

.btn-enviar:hover{
    transform: scale(1.15);
}
